.container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
     background-color: var(--bgSoft);

}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form>div input,
.form textarea,
.form>div select {
     padding: 25px;
     background-color: var(--bgC);
     color: var(--text);
     border: 2px solid #2e374a ;
     border-radius: 5px;
     margin-bottom: 20px;
    outline: none;
}

 .select{
    background-color: none;
 }
.form>div input,
.form>div select {
   width: 100%;
    color: var(--textSoft);
}
 


.form textarea{
    width: 100%;
}

.form button{
  
    color:white;
    width: max-content; 
     margin:  0 auto;
    padding: 2%;
    border: none;
    border-radius: 10px;
     cursor: pointer;
}

.myInput.invalid {
    background-color: var(--disable-color) !important;
    border: 1px solid var(--red-color) !important;
  }
  
  .myInput.valid {
    background-color: var(--disable-color) !important;
    border: 1px solid var(--valid-color) !important;
  }